.trade-section-title {
  margin-top: 15em;
}

.trade-section-cards {
}

.trade-section {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15em auto 0em auto;
}
