.sw {
  background: url('https://cutewallpaper.org/21/wallpaper-gif-1920x1080/Gif-Background-Space-1920x1080-Backgrounds-For-Html-Gif-.gif');
  background-repeat: no-repeat;
  background-size: 110%;
}
